<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get</title>

    <link href="../../wwwroot/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="../../wwwroot/css/site.css" rel="stylesheet" type="text/css"/>

    <style>
        .btn {
            margin: 2px;
        }
    </style>
</head>
<body>
<div class="d-flex justify-content-center">
    <div class="form">
        <div>
            
        </div>
    </div>
</div>
</body>
</html>