@model KacpiiToZiomal.SandstoneLauncher.Commons.Models.OfflineCredentials

<div>
    @using (Html.BeginForm("PostUsername", "Accounts", FormMethod.Post))
    {
        <div>
            <span class="text-secondary text-left"> 
                Choose your username...
            </span>
            <div class="input-group mb-3" style="width: 500px">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        @@
                    </span>
                </div>
                @Html.TextBoxFor(model => model.Username, new {@class="form-control"})
            </div>
        </div>
        
        @Html.ValidationMessageFor(model => model.Username, "", new {@class="text-danger"})

        <div class="buttons">
            <input type="submit" class="btn btn-primary float-right" value="submit">
        </div>
    }
</div>