@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="/bootstrap-4.4.1/dist/css/bootstrap.css"/>
    
    <title>Index Page</title>
</head>
<body>
<div>
    <button class="btn btn-primary m-2 p-2">Hello World</button>
</div>
</body>
</html>